# Dependencies
node_modules/

# Expo
.expo/
dist/
expo-env.d.ts
web-build/

# Native (prebuild)
android/
ios/

# Env & secrets
.env
.env.*
!.env.example
!.env.firebase.example
*.jks
*.p8
*.p12
*.key
*.mobileprovision
firebase-service-account*.json
GoogleService-Info.plist
google-services.json

# Local artifacts downloaded for Firebase distribution
dist/

# OS & editors
.DS_Store
.idea/
*.log
